<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="La Casita del Árbol es un merendero y comedor, conformado por grupo de personas reunidos para un bien común:ayudar a niños y jóvenes. Garantizandoles un plato de comida cada día así como también apoyo escolar y talleres de oficios. Con el sueño de algún día poder convertir la Casita en un refugio.">
        <meta name="author" content="GrupoOnce">
        <title>La Casita del Árbol</title>
        <link rel="icon" sizes="57x57" href="assets/icono/apple-icon-57x57.png">
        <link rel="icon" sizes="60x60" href="assets/icono/apple-icon-60x60.png">
        <link rel="icon" sizes="72x72" href="assets/icono/apple-icon-72x72.png">
        <link rel="icon" sizes="76x76" href="assets/icono/apple-icon-76x76.png">
        <link rel="icon" sizes="114x114" href="assets/icono/apple-icon-114x114.png">
        <link rel="icon" sizes="120x120" href="assets/icono/apple-icon-120x120.png">
        <link rel="icon" sizes="144x144" href="assets/icono/apple-icon-144x144.png">
        <link rel="icon" sizes="152x152" href="assets/icono/apple-icon-152x152.png">
        <link rel="icon" sizes="180x180" href="assets/icono/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/icono/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/icono/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/icono/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/icono/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <script src="https://kit.fontawesome.com/a537b4a62c.js" crossorigin="anonymous"></script>
        <link rel  ="stylesheet" href="css/normalize.css">   
        <link rel  ="stylesheet" href="css/style.css">
    </head>
    <body> 
        <header>
        </header>
        <main>
            <article>
                <section>
                    <h3>Donación monetaria</h3>
                    <p >Sea cual sea la cantidad, su contribución ayuda a los niños. 
                    </p>
                    <img class="img-icono" src="/assets/svg/donar.svg" alt="logo donación monetaria">
                </section>
                <section>
                    <h3>Donación de alimentos</h3>
                    <p>Alimentos no perecederos
                    </p>
                    <img class="img-icono"src="/assets/svg/alimentos.svg" alt="logo donación de alimentos">
                </section>
                <section>
                    <h3>Apadrinar. Un padrino por una zapatilla</h3>
                    <p >Necesitamos 60 padrinos para poder comprar 60 pares de zapatillas para los niños de La Casita del árbol, en el Día del Niño.
                    </p>
                    <img class="img-icono"src="/assets/svg/zapatillas.svg" alt="logo zapatilla">
                </section>
                <section>
                    <h3>Donación de artículos escolares</h3>
                    <p>Lápices, cuadernos, hojas, etc.
                    </p>
                    <img class="img-icono"src="/assets/svg/utiles.svg" alt="logo artículos escolares">
                </section>
                <section>
                    <h3>Donación de artículos de limpieza</h3>
                    <p>
                    </p>
                    <img class="img-icono"src="/assets/svg/utiles.svg" alt="logo artículos escolares">
                </section>

        </main>
        <footer class="footer">
            <address>Barrio 29 de Agosto, Resistencia, Chaco</address>
            <p>ernestoayala444@gmail.com</p>
            <p>+54 9 362 408-2451</p> 
        </footer>
    </body>
</html>