<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>La Casita del Árbol</title>
        <link rel="icon" sizes="57x57" href="assets/icono/apple-icon-57x57.png">
        <link rel="icon" sizes="60x60" href="assets/icono/apple-icon-60x60.png">
        <link rel="icon" sizes="72x72" href="assets/icono/apple-icon-72x72.png">
        <link rel="icon" sizes="76x76" href="assets/icono/apple-icon-76x76.png">
        <link rel="icon" sizes="114x114" href="assets/icono/apple-icon-114x114.png">
        <link rel="icon" sizes="120x120" href="assets/icono/apple-icon-120x120.png">
        <link rel="icon" sizes="144x144" href="assets/icono/apple-icon-144x144.png">
        <link rel="icon" sizes="152x152" href="assets/icono/apple-icon-152x152.png">
        <link rel="icon" sizes="180x180" href="assets/icono/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/icono/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/icono/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/icono/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/icono/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel  ="stylesheet" href="css/normalize.css">   
        <link rel  ="stylesheet" href="css/style.css">
    </head>
    <body> 
        <header>
            <nav>
            <a href="noticias.html"><button class="button">NOTICIAS</button></a>
            <a href="quienes-somos.html"><button class="button">QUIÉNES SOMOS</button></a>
            <a href="nuestros-proyectos.html"><button class="button">NUESTROS PROYECTOS</button></a>
            <a href="eventos.html"><button class="button">EVENTOS</button></a>
            <a href="como-ayudar.html"><button class="button">CÓMO AYUDAR</button></a>
            <a href="donar.html"><button class="button-donar">DONAR</button></a>
            <a href="mi-cuenta.html"><button class="button2">MI CUENTA</button></a>
            <a href="https://www.facebook.com/ernesto.ayala.7967747" target="_blank">
                <img class="button-sociales" src="/assets/icono/facebook.png"  alt="Enlace a Faceebook"/></a>
            <a href="https://instagram.com/lacasitadelarbol_ernesto?igshid=YmMyMTA2M2Y=" target="_blank"> Instagram</a>
        </nav>
        </header>
        <main>
            <p>Podés DONAR dinero mediante "Mercado Pago" con tarjetas de debito y/o credito eligiendo tu monto a DONAR acá: </p>
            <div>
            <table class="tabla-donar"> 
                <tr>
                    <td>
                    <a href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/600fadd5-34e2-44ba-aafb-6cf055af412f/payment-option-form/?preference-id=696415104-cef630ac-5d91-4501-a7be-5170bbb7a3f0&router-request-id=86005bc7-1e12-4899-9866-0186742d3e8e&p=3c5ac906e1b841468090f96d02c28ec4#/" target="_blank"><button class="button1">$100</button></a>
                    </td> 
                    <td>
                        <a  href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/f61383a2-47cb-4068-8187-d8e2988fd727/payment-option-form/?preference-id=696415104-4ad86a24-3bdf-462f-a4a2-ba2d75c55b55&router-request-id=0074c37e-9823-43d1-bb4f-50392737d441&p=3c5ac906e1b841468090f96d02c28ec4#/" target="_blank">
                        <button class="button1"> $200 </button>
                        </a>
                    </td> 
                    <td>
                        <a href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/d3b337a4-7f19-4e64-aa2c-798d6ac24ae6/payment-option-form/?preference-id=167898784-147d2e99-f2c3-48a3-b3a1-7016e0f7c097&router-request-id=b1169646-1931-47ab-b4ac-160152d5fa55&p=3c5ac906e1b841468090f96d02c28ec4#/" target="_blank">
                        <button class="button1"> $300 </button>
                        </a>
                    </td> 
                </tr>
                <tr>
                    <td>
                        <a href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/76c1370f-7bee-4658-b16e-3c9dc4701f04/payment-option-form/?preference-id=696415104-dcbe5054-cb9f-4655-bc3f-91a0df204b52&router-request-id=d8fe7eba-eb2f-4dcb-958f-41acfe155750&p=3c5ac906e1b841468090f96d02c28ec4#/" target="_blank">
                        <button class="button1"> $500 </button>   
                        </a>
                    </td> 
                    <td>
                        <a href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/732a73b5-afdf-451e-8a07-9e062ae7a010/payment-option-form/?router-request-id=fe881334-4f6b-4a92-809b-94d3ce823579&preference-id=167898784-2a8e997a-40ad-4022-a1b9-7709892c4e72&p=3c5ac906e1b841468090f96d02c28ec4#/" target="_blank">
                        <button class="button1"> $700 </button>
                        </a>
                    </td> 
                    <td>
                        <a href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/7bc77634-54b0-40ab-b63c-1c8f0dad6d28/payment-option-form/?router-request-id=826bef06-2153-4277-bb4c-9cc2722c050b&preference-id=696415104-2e99806d-1214-4798-aaa8-128da0748597&p=3c5ac906e1b841468090f96d02c28ec4#/" target="_blank">
                        <button class="button1"> $1000 </button>
                        </a>
                    </td> 
                </tr>
                <tr>
                    <td>
                        <a href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/22231d0f-d765-4055-a84c-033d8ee56315/payment-option-form/?preference-id=696415104-11bc7eb5-ef4e-4d97-8ea8-2f5dfac41fb4&router-request-id=274bdf8e-aa02-42b7-a0f8-76c69c6554eb&p=3c5ac906e1b841468090f96d02c28ec4#/" target="_blank">
                            <button class="button1"> $2000 </button>
                        </a>
                    </td> 
                    <td>
                        <a href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/c62cbd3f-d527-448e-94ee-32a43f317b03/payment-option-form/?router-request-id=42f073e4-ca32-414d-b59d-a2047f55a52d&preference-id=696415104-80fcb4c7-3d14-46dd-ac67-f42af70a70a6&p=3c5ac906e1b841468090f96d02c28ec4#/" target="_blank">
                            <button class="button1"> $2500 </button>
                        </a>
                    </td> 
                    <td>
                        <a href="https://www.mercadopago.com.ar/checkout/v1/payment/redirect/ca47bd7c-4931-40c3-b735-6e96463def35/payment-option-form/?preference-id=696415104-c0bdb43d-d475-4ddb-86ae-7b2053f14634&router-request-id=dc37364f-8eb7-4329-a364-2c2d6badcb69&p=3c5ac906e1b841468090f96d02c28ec4#/" target="_blank">
                            <button class="button1"> $5000 </button>
                        </a>
                    </td> 
                </tr>
            </table>
        </div>
<div class="texto-centrado">
<p>Donación a través de mercado pago al número 3624-082451
<div>
CVU Mercado Pago
0000003100051311090815</div>   
<div>Alias: dual.amago.cargo.mp</div>
O también podes donar dinero por TRANSFERENCIA BANCARIA a la cuenta de la FUNDACIÓN
<div>Nro de Cuenta: 111369/00CBU: 3110030211000111369005</div>
CUIT N° 30-71686978-0 </p>
</div>


        </main>
        <footer class="footer">
            <address>Barrio 29 de Agosto,Resistencia, Chaco</address>
            <p>ernestoayala444@gmail.com</p>
            <p>+54 9 362 408-2451</p> 
        </footer>
    </body>
</html>