<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>La Casita del Árbol</title>
        <link rel="icon" sizes="57x57" href="assets/icono/apple-icon-57x57.png">
        <link rel="icon" sizes="60x60" href="assets/icono/apple-icon-60x60.png">
        <link rel="icon" sizes="72x72" href="assets/icono/apple-icon-72x72.png">
        <link rel="icon" sizes="76x76" href="assets/icono/apple-icon-76x76.png">
        <link rel="icon" sizes="114x114" href="assets/icono/apple-icon-114x114.png">
        <link rel="icon" sizes="120x120" href="assets/icono/apple-icon-120x120.png">
        <link rel="icon" sizes="144x144" href="assets/icono/apple-icon-144x144.png">
        <link rel="icon" sizes="152x152" href="assets/icono/apple-icon-152x152.png">
        <link rel="icon" sizes="180x180" href="assets/icono/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/icono/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/icono/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/icono/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/icono/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel  ="stylesheet" href="css/normalize.css">   
        <link rel  ="stylesheet" href="css/style.css">
    </head>
    <body> 
        <header>
            <nav>
            <a href="noticias.html"><button class="button">NOTICIAS</button></a>
            <a href="quienes-somos.html"><button class="button">QUIÉNES SOMOS</button></a>
            <a href="nuestros-proyectos.html"><button class="button">NUESTROS PROYECTOS</button></a>
            <a href="eventos.html"><button class="button">EVENTOS</button></a>
            <a href="como-ayudar.html"><button class="button">CÓMO AYUDAR</button></a>
            <a href="donar.html"><button class="button-donar">DONAR</button></a>
            <a href="mi-cuenta.html"><button class="button2">MI CUENTA</button></a>
            <a href="https://www.facebook.com/ernesto.ayala.7967747" target="_blank">
                <img class="button-sociales" src="/assets/icono/facebook.png"  alt="Enlace a Faceebook"/></a>
            <a href="https://instagram.com/lacasitadelarbol_ernesto?igshid=YmMyMTA2M2Y=" target="_blank"> Instagram</a>
        </nav>
        </header>
        <main>
            <section>
                <article>
                    <h3>BICICLETEADA SOLIDARIA</h3>
                    <p>Se realizó el pasado 18 de abril la Gran Pedaleada Solidaria con la participación de más de 80 personas, entre voluntarios y ciclistas, se contó además con el apoyo de distintos sponsors . Lo cual nos permitió recaudar para la compra de alimentos y así poder seguir brindando este servicio a la 
                    comunidad.</p>
                    <footer><time>18/04/2022</time></footer>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FGQvo7nE5wE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
                <article>
                    <h3>4ta MARATÓN SOLIDARIA</h3>
                    <p>Sus contribuciones permiten que su niño apadrinado reciba servicios y beneficios que provocan un 
                    impacto positivo en su vida. Lo hacemos posible maximizando nuestra eficiencia y manteniendo bajos 
                    los costos administrativos para que el 82 por ciento de nuestros gastos totales sea destinado a los 
                    beneficios y programas juveniles que benefician a los apadrinados y sus familias.</p>
                    <footer><time>08/05/2022</time></footer>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Uw0RSnMZPgY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </article>
                <article>
                    <h3>TARDE DE PASEO</h3>
                    <img src="/assets/images/noticias-paseo.webp" alt="Foto niños">
                    <p>El pasado sábado 8, los niños y los integrantes de La Casita del Árbol recorrieron diversos lugares de la ciudad de Resistencia, disfrutando de una tarde de juegos y diversión.
                    </p>

                    <footer><time>12/06/2022</time></footer>
                </article>
            </section>
        </main>
        <footer class="footer">
            <address>Barrio 29 de Agosto, Resistencia, Chaco</address>
            <p>ernestoayala444@gmail.com</p>
            <p>+54 9 362 408-2451</p> 
        </footer>
    </body>
        </html>