<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>La Casita del Árbol</title>
        <link rel="icon" sizes="57x57" href="assets/icono/apple-icon-57x57.png">
        <link rel="icon" sizes="60x60" href="assets/icono/apple-icon-60x60.png">
        <link rel="icon" sizes="72x72" href="assets/icono/apple-icon-72x72.png">
        <link rel="icon" sizes="76x76" href="assets/icono/apple-icon-76x76.png">
        <link rel="icon" sizes="114x114" href="assets/icono/apple-icon-114x114.png">
        <link rel="icon" sizes="120x120" href="assets/icono/apple-icon-120x120.png">
        <link rel="icon" sizes="144x144" href="assets/icono/apple-icon-144x144.png">
        <link rel="icon" sizes="152x152" href="assets/icono/apple-icon-152x152.png">
        <link rel="icon" sizes="180x180" href="assets/icono/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/icono/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/icono/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/icono/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/icono/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel  ="stylesheet" href="css/normalize.css">   
        <link rel  ="stylesheet" href="css/style.css">
    </head>
    <body> 
        <header>
            <nav>
            <a href="noticias.html"><button class="button">NOTICIAS</button></a>
            <a href="quienes-somos.html"><button class="button">QUIÉNES SOMOS</button></a>
            <a href="nuestros-proyectos.html"><button class="button">NUESTROS PROYECTOS</button></a>
            <a href="eventos.html"><button class="button">EVENTOS</button></a>
            <a href="como-ayudar.html"><button class="button">CÓMO AYUDAR</button></a>
            <a href="donar.html"><button class="button-donar">DONAR</button></a>
            <a href="mi-cuenta.html"><button class="button2">MI CUENTA</button></a>
            <a href="https://www.facebook.com/ernesto.ayala.7967747" target="_blank">
                <img class="button-sociales" src="/assets/icono/facebook.png"  alt="Enlace a Faceebook"/></a>
            <a href="https://instagram.com/lacasitadelarbol_ernesto?igshid=YmMyMTA2M2Y=" target="_blank"> Instagram</a>
        </nav>
        </header>
        <main>
            <article>
                <section>
                    <h3>MANOS A LA HUERTA</h3>
                    <p tabindex="1">Es uno de nuestros proyectos. Hoy en día, tener nuestra propia huerta nos facilita un sin fin de cosas, de alli sacamos lechuga, verduras para las comidas, nos reconforta saber que fue producido por y para ellos. 
                    </p>
                </section>
                <section>
                    <h3>APOYO ESCOLAR</h3>
                    <p tabindex="2">Antes de cada merienda dedicamos un buen rato al estudio. En épocas de clases, no hay merienda sin antes hacer un poco de tarea.
                    </p>
                </section>
                <section>
                    <h3>ACTIVIDADES INCLUSIVAS</h3>
                    <p tabindex="3">Tenemos muy en claro que los niños son el futuro y son quienes estan expuestos a la realidad que hoy nos rodea.<br>La falta de oportunidades, la falta de acompañamiento, en muchos casos, de sus propias familias, pueden afectarlos y llevarlos a involucrarse en la delicuencia,
                    el alcoholismo y las drogas por la situación de vulnerabilidad en la que viven. Por ello creemos que es necesario brindarle la posibildidad de tener estabilidad emocional, 
                    afectiva y social como es el compartir con sus pares una mesa o un juego. Confiando fielmente que el deporte es el mejor medio inclusivo, inmediatamente y a la par con el merendero, 
                    buscamos la manera de poder dar clases de hockey, y hoy esto es posible gracias a dos profesores que dictan las clases ad honorem. Los chicos de a poco se fueron involucrando y ahora 
                    esperan con ansias el dia de la clase o los encuentros deportivos que tenemos la dicha de llevarlos a competir.
                    </p>
                </section>
                <section>
                    <h3>RECICLAJE</h3>
                    <p tabindex="4">Nuevo emprendimiento de reciclado que nos permite contagiar maravillosas ideas y experiencias, y así poder sumar nuestro granito de arena con el cuidado del medio ambiente.
                    </p>
                </section>
                <section>
                    <h3>ACTIVIDADES EDUCATIVAS</h3>
                    <p tabindex="5">Refuerzo el aprendizajes, charlas.
                    </p>
                </section>
                <section>
                    <h3>ACTIVIDADES RECREATIVAS</h3>
                    <p tabindex="6">Actividades al aire libre, juegos, deporte,diversión
                    </p>
                </section>
            </article>
        </main>
        <footer class="footer">
            <address>Barrio 29 de Agosto, Resistencia, Chaco</address>
            <p>ernestoayala444@gmail.com</p>
            <p>+54 9 362 408-2451</p> 
        </footer>
    </body>
</html>