<!DOCTYPE html>
<html lang="es">
    <head> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>La Casita del Árbol</title>
        <link rel="icon" sizes="57x57" href="assets/icono/apple-icon-57x57.png">
        <link rel="icon" sizes="60x60" href="assets/icono/apple-icon-60x60.png">
        <link rel="icon" sizes="72x72" href="assets/icono/apple-icon-72x72.png">
        <link rel="icon" sizes="76x76" href="assets/icono/apple-icon-76x76.png">
        <link rel="icon" sizes="114x114" href="assets/icono/apple-icon-114x114.png">
        <link rel="icon" sizes="120x120" href="assets/icono/apple-icon-120x120.png">
        <link rel="icon" sizes="144x144" href="assets/icono/apple-icon-144x144.png">
        <link rel="icon" sizes="152x152" href="assets/icono/apple-icon-152x152.png">
        <link rel="icon" sizes="180x180" href="assets/icono/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/icono/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/icono/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/icono/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/icono/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel  ="stylesheet" href="css/normalize.css">   
        <link rel  ="stylesheet" href="css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>
    <body> 
        <header>
          <header>
            <nav>
            <a href="noticias.html"><button class="button">NOTICIAS</button></a>
            <a href="quienes-somos.html"><button class="button">QUIÉNES SOMOS</button></a>
            <a href="nuestros-proyectos.html"><button class="button">NUESTROS PROYECTOS</button></a>
            <a href="eventos.html"><button class="button">EVENTOS</button></a>
            <a href="como-ayudar.html"><button class="button">CÓMO AYUDAR</button></a>
            <a href="donar.html"><button class="button-donar">DONAR</button></a>
            <a href="mi-cuenta.html"><button class="button2">MI CUENTA</button></a>
            <a href="https://www.facebook.com/ernesto.ayala.7967747" target="_blank">
                <img class="button-sociales" src="/assets/icono/facebook.png"  alt="Enlace a Faceebook"/></a>
            <a href="https://instagram.com/lacasitadelarbol_ernesto?igshid=YmMyMTA2M2Y=" target="_blank"> Instagram</a>
        </nav>
        </header>
        <main>
          <h3>Nuestra visión </h3>
            <p>Somos un grupo de personas que iniciamos un comedor con el fin de realizar talleres de oficios para los chicos y con el sueño de algún día poder tener un refugio.</p>
            <h3>Nuestra misión</h3>
            <p>Brindar ayuda a la mayor cantidad de niños posibles mejorando su calidad de vida aportando educacion y salud.</p>
            <h3>Cómo trabajamos</h3>
            <p>Nuestro espacio se encuentra abierto para cualquier personas que quiera compartir y colaborar aportando sus conocimientos y habilidades para el bienestar de los niños.</p>    
            <h3>Por qué elegirnos </h3>
            <p>Somos una O.N.G que destina el total de las ganancias y donaciones a darle un plato de comida a las familias ¡Que mas genuino que eso!</p>
            <h3>Nuestro Equipo </h3>
          <div class="row">
          <div class="col-lg-4">
          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h3 class="fw-normal">Ernesto Ayala</h3>
            <h4 class="fw-normal">Fundador</h4>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h3 class="fw-normal">Ramona Ojeda</h3>
                <h4 class="fw-normal">Función</h4>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                  <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                    <h3 class="fw-normal">Guido Goussal</h3>
                    <h4 class="fw-normal">Función</h4>
                  </div><!-- /.col-lg-4 -->
                  <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                        <h3 class="fw-normal">Lucas Nuñez</h3>
                        <h4 class="fw-normal">Función</h4>
                      </div><!-- /.col-lg-4 -->
                      <div class="col-lg-4">
                          <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                            <h3 class="fw-normal">Mauro Lugo Heim</h3>
                            <h4 class="fw-normal">Función</h4>   
                          </div>
  </main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        </main>
        <footer class="footer">
            <address>Barrio 29 de Agosto, Resistencia, Chaco</address>
            <p>ernestoayala444@gmail.com</p>
            <p>+54 9 362 408-2451</p> 
        </footer>
      </body>
</html>